services:
  frontend:
    build:
      context: ../..
      dockerfile: ./apps/frontend/Dockerfile.dev
    ports:
      - "4200:4200"
    volumes:
      - ../../apps/frontend/src:/workspace/apps/frontend/src
      - ../../apps/frontend/public:/workspace/apps/frontend/public
      - ../../apps/frontend/index.html:/workspace/apps/frontend/index.html
      - ../../apps/frontend/vite.config.ts:/workspace/apps/frontend/vite.config.ts
      - ../../libs:/workspace/libs
    env_file:
      - ../../.env
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - dashboard

  backend:
    build:
      context: ../..
      dockerfile: ./apps/backend/Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - ../../.env
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - dashboard
      - kafka_kafka

  postgres:
    image: postgres:16-alpine
    env_file:
      - ../../.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - dashboard

volumes:
  postgres_data:

networks:
  dashboard:
    driver: bridge
  kafka_kafka:
    external: true
